{% extends 'layout.html' %}
   
{% block title %}{{editTitle}}{% endblock %}

{% block head %}
  {% parent %}
  <link rel="stylesheet" href="./custom.css">

{% endblock %}

{% block content %}
<h1>{{editTitle}}</h1>

<form id="myForm" method="POST" action="/update">
<input type="hidden" name= "nut_ID" value="{{idStr}}" >
<label for="Name">Sir Name</label><input type="text" placeholder="Name"    name="Name"  id="Name"  size="20" maxlen="20" value= "{{editDoc[0].Name}}" ><br>
<label for="FName">First Name</label><input type="text" placeholder="First Name"   name="FName"  id="FName" size="20" maxlen="20" value= "{{editDoc[0].FName}}" ><br>
<label for="LName">Last Name</label><input type="text" placeholder="Last Name"    name="LName"  id="LName"  size="20" maxlen="20" value= "{{editDoc[0].LName}}" ><br>
<label for="Addr1">Address</label><input type="text" placeholder="Address 1"    name="Addr1"  id="Addr1"  size="60" maxlen="60" value= "{{editDoc[0].Loc[0].Addr}}" ><br>
<label for="HomePh1">Home Phone</label><input type="text" placeholder="    Phone"    name="HomePh1" id="HomePh1"  size="50" maxlen="50" value= "{{editDoc[0].Loc[0].HomePh}}" ><br>
<label for="Addr2">Address</label><input type="text" placeholder="Address 2"    name="Addr2"  id="Addr2"  size="60" maxlen="60" value= "{{editDoc[0].Loc[1].Addr}}" ><br>
<label for="HomePh2">Home Phone</label><input type="text" placeholder="    Phone"    name="HomePh2" id="HomePh2"  size="50" maxlen="50" value= "{{editDoc[0].Loc[1].HomePh}}" ><br>
<label for="Addr3">Address</label><input type="text" placeholder="Address 3"    name="Addr3"  id="Addr3"  size="60" maxlen="60" value= "{{editDoc[0].Loc[2].Addr}}" ><br>
<label for="HomePh3">Home Phone</label><input type="text" placeholder="    Phone"    name="HomePh3" id="HomePh3"  size="50" maxlen="50" value= "{{editDoc[0].Loc[2].HomePh}}" ><br>
<label for="Email">Email</label><input type="text" placeholder="Email"        name="Email"  id="Email"  size="30" maxlen="30" value= "{{editDoc[0].Email}}" ><br>
<label for="CellPh">Cell Phone</label><input type="text" placeholder="Cell Phone"   name="CellPh" id="CellPh"  size="50" maxlen="50" value= "{{editDoc[0].CellPh}}" ><br>
<label for="Bday">Birthday (mm/dd/yyyy)</label><input type="text" placeholder="Birthday (mm/dd/yyyy)" name="Bday" id="Bday" size="21" maxlen="21" value= "{{editDoc[0].Bday}}" ><br>
<label for="Note">Note</label><input type="text" placeholder="Note" name="Note" id="Note" size="50" maxlen="50" value= "{{editDoc[0].Note}}" ><br><br>
<input type="submit" value="   Submit" class="submitBtn">
</form><br><br>
<a href="/">Home</a>
{% endblock %}