.titleColor {
	color: silver;
}
.blue {
    color: blue;
}

.green {
    color: green;
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}
 
.purple {
    color: purple;
}

.maroon {
	color: maroon;
}
	
ul.nutList {
    list-style-type: none;
}

.bold {
	font-weight: bold;
}

.content {
	position: relative;
	width: 300px;
	height: 500px;
	overflow: scroll;
}

.oneNut {
	background-color: maroon;
}	
	
td {
	white-space: pre;
}

td.icons {
	width: 25px;
}	
	